# Security: Ignore environment variables
.env

# User-customizable UI config
strategy_ui_config.py

# Ignore all following folders
__pycache__/
_archive/
backtest/
data/
from_other_project/

# Ignore strategies
strategies/ha_*
strategies/strat_*