# Security: Ignore environment variables
.env

# Ignore all __pycache__ folders
__pycache__/

# Ignore all _archive folders
_archive/

# Ignore all backtest folders
backtest/*

# Ignore everything inside data
data/*

# Ignore strategies
strategies/ha_mtf_stoch.py
strategies/strategy_core.py